@model IEnumerable<Foozie_Web.Models.ORDER>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Orders</h2>
<div class="table-responsive">
    @using (Html.BeginForm("Order", "Admin"))
    {
        <form>
            <div class="d-flex align-items-center w-50">
                <span class="m-1 h6">From</span>
                <input type="date" name="start" class="form-control m-1 datepicker" />
                <span class="m-1 h6">To</span>
                <input type="date" name="end" class="form-control m-1 datepicker" />
              
                <button class="btn btn-outline-success m-1" type="submit">
                    <img src="~/lib/bootstrap-icons/icons/search.svg" />
                </button>
            </div>
        </form>
    }
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Address</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.date.GetValueOrDefault().ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@order.address</td>
                    <td>@String.Format("{0:n0}", order.total)</td>
                    <td>@order.status</td>
                    <td>
                        <div class="d-flex flex-wrap wrap">
                            <button class="btn btn-primary" type="button" style="background: none; border: none" onclick="location.href = '/Admin/EditOrder/@order.order_id';">
                                <img src="~/lib/bootstrap-icons/icons/pencil-fill.svg" />
                            </button>
                            @*@using (Html.BeginForm("DeleteOrder", "Admin", new { orderId = order.order_id }, FormMethod.Post))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)

                            <button type="submit" class="btn btn-primary" style="background: none; border: none">
                                <img src="~/lib/bootstrap-icons/icons/trash-fill.svg" />
                            </button>
                        }*@
                            <button style="background: none; border: none" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#o-@order.order_id" aria-expanded="false" aria-controls="collapseExample">
                                <img src="~/lib/bootstrap-icons/icons/caret-down-fill.svg" />
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div class="collapse" id="o-@order.order_id">
                            <div class="card card-body">
                                <div>Ngày đặt: <span class="h6">@order.date.GetValueOrDefault().ToString("dd-MM-yyyy HH:mm")</span></div>
                                <div>Người đặt: <span class="h6">@order.USER.first_name</span> <span class="h6">@order.USER.last_name</span></div>
                                <div>Địa chỉ: <span class="h6">@order.address</span></div>
                            </div>
                            <ul class="list-group mt-3">
                                @foreach (var detail in order.ORDER_DETAIL)
                                {
                                    <li class="list-group-item d-flex">
                                        <img src="~/Images/foods/@detail.FOOD.FOOD_TYPE.code/@detail.FOOD.thumbnail" class="rounded me-3" style="width: 10%" />
                                        <div class="w-100">
                                            <h5>@detail.FOOD.name</h5>
                                            <p class="">@detail.FOOD.FOOD_TYPE.name</p>
                                            <p>Số lượng: <span>@detail.quantity</span></p>
                                        </div>
                                        <div class="flex-shrink-1 m-auto" style="color: red"><span>@String.Format("{0:n0}", detail.FOOD.price)</span>đ</div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


