@model IEnumerable<Foozie_Web.Models.USER>

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User</h2>

<div class="table-responsive table-boderless">
    <div class="d-flex justify-content-between">
        @using (Html.BeginForm())
        {
            <div class="d-flex">
                <input class="form-control w-100 m-1"
                       type="text"
                       name="search"
                       placeholder="Search"
                       aria-label="Search" />
                <button class="btn btn-outline-success m-1" type="submit">
                    <img src="~/lib/bootstrap-icons/icons/search.svg" />
                </button>
            </div>
        }
        @Html.ActionLink("Add", "AddUser", "Admin", new { @class = "btn btn-success m-1" })
    </div>
    <table class="table table-boderless table-hover">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Username</th>
                <th scope="col">First name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.type</td>
                    <td>@user.username</td>
                    <td>@user.first_name</td>
                    <td>@user.last_name</td>
                    <td>@user.email</td>
                    <td><span>@user.phone</span></td>
                    <td></td>
                    <td class="d-flex flex-wrap wrap">
                        <button class="btn btn-primary" style="background: none; border: none" onclick="location.href = '/Admin/EditUser/@user.user_id';">
                            <img src="~/lib/bootstrap-icons/icons/pencil-fill.svg" />
                        </button>

                        @using (Html.BeginForm("DeleteUser", "Admin", new { userId = user.user_id }, FormMethod.Post))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)

                            <button class="btn btn-primary" type="submit" style="background: none; border: none" id="">
                                <img src="~/lib/bootstrap-icons/icons/trash-fill.svg" />
                            </button>
                        }

                        <button class="btn btn-primary" style="background: none; border: none" onclick="location.href = '/Admin/UserDetails/@user.user_id';">
                            <img src="~/lib/bootstrap-icons/icons/clipboard-check-fill.svg" />
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


