@using System.Web.Optimization

@model Foozie_Web.Models.ORDER

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal card m-5 p-3 row shadow-lg rounded">
    <h4>ORDER</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.order_id)
    @Html.HiddenFor(model => model.user_id)
    @Html.HiddenFor(model => model.status)

    <ul class="list-group mt-3">
        @foreach (var item in Model.ORDER_DETAIL)
        {
            <li class="list-group-item d-flex">
                <img src="~/Images/foods/@item.FOOD.FOOD_TYPE.code/@item.FOOD.thumbnail" class="rounded me-3" style="width: 10%" />
                <div class="w-100">
                    <h5>@item.FOOD.name</h5>
                    <div class="">@item.FOOD.FOOD_TYPE.name</div>
                    <p>Ghi chú: <span>@item.note</span></p>
                    <div class="d-flex">
                        <div class="me-2">Số lượng:</div>
                        <p id="a-@item.food_id" class="quantity">@item.quantity</p>
                    </div>
                </div>
                <div class="flex-shrink-1 m-auto" style="color: red"><span class="price @item.FOOD.price" id="a-@item.food_id">@item.FOOD.price</span>đ</div>
            </li>
        }
    </ul>

    <div class="form-group mt-3">
        @Html.LabelFor(model => model.date, "Ngày đặt", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="">
            <input class="form-control" readonly value="@DateTime.Now.ToString("dd-MM-yyyy HH:mm")" />
        </div>
    </div>

    <div class="form-group mt-3">
        @Html.LabelFor(model => model.address, "Địa chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="">
            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", @required = true } })
            @Html.ValidationMessageFor(model => model.address, "", new { @class = "badge bg-danger" })
        </div>
    </div>

    <div class="form-group mt-3">
        @Html.LabelFor(model => model.voucher_id, "Voucher", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="">
            @{
                Html.RenderAction("RenderVoucher", "Home");
            }
        </div>
    </div>

    <div class="form-group mt-3">
        @Html.LabelFor(model => model.total, "Tổng tiền", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="">
            @Html.EditorFor(model => model.total, new { htmlAttributes = new { @class = "form-control total", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.total, "", new { @class = "text-danger" })
        </div>
    </div>

    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-success mt-3" onclick=test()>Xác nhận</button>
        </div>
    </div>
</div>
}


<script>
    var total = 0;
    var price = document.querySelectorAll(".price")
    var quantity = document.querySelectorAll(".quantity")
    var vouchers = document.querySelectorAll(".form-select option")

    for (let i = 0; i < price.length; i++) {
        total += parseInt(price[i].textContent) * parseInt(quantity[i].textContent);
    }

    for (let i = 0; i < vouchers.length; i++) {
        if (total < vouchers[i].className) {
            vouchers[i].setAttribute("style", "display: none")
        }
    }

    document.querySelector(".total").value = total

    function change(price) {
        document.querySelector(".total").value = total - price.value
    }

    function test() {
        var option = document.querySelector('option:checked')
        option.value = option.id
    }

</script>
