@model Foozie_Web.Models.USER

@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="card container-fluid form w-50 m-auto mt-3 p-5 shadow-lg bg-body rounded">
    <h2 class="m-auto">Đăng ký tài khoản</h2>

    <div class="form-group mt-3">
        @Html.LabelFor(model => model.first_name, "Tên", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="">
            @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "badge bg-danger" })
        </div>
    </div>

    <div class="form-group mt-3">
        @Html.LabelFor(model => model.last_name, "Họ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="">
            @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "badge bg-danger" })
        </div>
    </div>

    <div class="form-group mt-3">
        @Html.LabelFor(model => model.email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "badge bg-danger" })
        </div>
    </div>

    <div class="form-group mt-3">
        @Html.LabelFor(model => model.phone, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="">
            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "badge bg-danger" })
        </div>
    </div>

    <div class="form-group mt-3">
        @Html.LabelFor(model => model.username, "Tên đăng nhập", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="">
            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.username, "", new { @class = "badge bg-danger" })
        </div>
    </div>

    <div class="form-group mt-3">
        @Html.LabelFor(model => model.password, "Mật khẩu", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "badge bg-danger" })
        </div>
    </div>

    @if (ViewBag.error != null)
    {
        <div class="alert alert-danger mt-3" role="alert">
            @ViewBag.error
        </div>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 mt-3">
            <input type="submit" value="Đăng ký" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
}

