@model IEnumerable<Foozie_Web.Models.ORDER_DETAIL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card m-5 p-3 row shadow-lg rounded">
    <div class="row align-items-start mt-3">
        <h2 class="col">
            Giỏ hàng
        </h2>
        @*<div class="address-show col"></div>
        <div class="col text-end add-address">
            <button class="btn btn-outline-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Thêm địa chỉ</button>

            <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasTopLabel">Thêm địa chỉ</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="mb-3 ms-3 me-3">
                    <input type="text" class="form-control address" id="formGroupExampleInput" placeholder="Nhập địa chỉ của bạn">
                </div>
                <button class="btn btn-primary ms-3 me-3 confirm" onclick="onAddress()">Xác nhận</button>
            </div>
        </div>*@
    </div>
    <ul class="list-group mt-3  ">
        @foreach (var item in Model)
        {
            <li class="list-group-item d-flex">
                <img src="~/Images/foods/@item.FOOD.FOOD_TYPE.code/@item.FOOD.thumbnail" class="rounded me-3" style="width: 10%" />
                <div class="w-100">
                    <h5>@item.FOOD.name</h5>
                    <p class="">@item.FOOD.FOOD_TYPE.name</p>
                    <p>Số lượng: <span class="quantity">@item.quantity</span></p>
                </div>
                <div class="flex-shrink-1 m-auto" style="color: red"><span class="price">@item.FOOD.price</span>đ</div>
            </li>
        }
    </ul>
    <div class="d-flex mt-3">
        <div class="me-3">Tổng số tiền:</div>
        <h5 class="total" style="color:red"></h5>
        <span style="color:red">đ</span>
        @Html.ActionLink("Thanh toán", "Edit", "ORDER", new { Model.FirstOrDefault().ORDER.order_id }, new { @class= "btn btn-success ms-auto" })
    </div>
</div>

<script>
    var total = 0;
    var price = document.querySelectorAll(".price")
    var quantity = document.querySelectorAll(".quantity")
    var confimr = document.querySelector(".confirm")
    var show = document.querySelector(".address-show")
    var address = document.querySelector(".address")

    for (let i = 0; i < price.length; i++) {
        total += parseInt(price[i].textContent) * parseInt(quantity[i].textContent);
    }

    document.querySelector(".total").innerHTML = total


    function onAddress() {
        show.innerHTML = address.value
        document.querySelector(".offcanvas").setAttribute("style", "display: none")
    }
</script>
